@model PWPortal.Areas.Account.Models.ChangePasswordModel

@using (Ajax.BeginForm("ChangePassword", "Login", new AjaxOptions { UpdateTargetId = "loginView" }))
{
    <div class="modal-dialog">
        <fieldset>
            <legend>Change Password</legend>
            @if (!ViewBag.HideForm)
            {
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.email)
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(m => m.email)
                            @Html.DisplayFor(m => m.email)
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.newPswd)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.newPswd)
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.confirmPswd)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.confirmPswd)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-default" value="Save" />
                        @Ajax.ActionLink("Cancel", "Login", "Login", new { area = "Account" }, new AjaxOptions { UpdateTargetId = "loginView" }, new { @class = "btn btn-normal" })
                    </div>
                </div>
            }
        </fieldset>
    </div>
}