@model PWPortal.Areas.Account.Models.ResetPasswordModel

@using (Ajax.BeginForm("ResetPassword", "Login", new AjaxOptions { UpdateTargetId = "loginView" }))
{
    <div class="modal-dialog">
        <fieldset>
            <legend>Reset Password</legend>
            <div class="col-md-12">
                <div class="editor-label">
                    @Html.LabelFor(m => m.email)
                </div>
                <div class="col-md-12">
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.email)
                        @Html.ValidationMessageFor(m =>m.email)
                    </div>
                </div>
                <br />
                <div class="col-md-6">
                    <input type="submit" class="btn btn-default" value="Reset Password" />
                    @*<input type="button" class="btn btn-normal" value="Back" onclick="location.href='@Url.Action("Login", "Login", new { area="Account"})'" />*@
                    @Ajax.ActionLink("Back", "Login", "Login", new { area="Account"}, new AjaxOptions { UpdateTargetId = "loginView" }, new { @class = "btn btn-normal" })
                </div>
            </div>
        </fieldset>
    </div>
}